<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Welcome to my WishlistApp Home</title>
<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
</head>
<body>
	    
	<div class="container text-center">
		        
		<div>
			<h1>Welcome to WishlistApp</h1>
		</div>
		<div class="p-2">
			<a class="h2" th:href="@{/wishlist}">View Wishlist</a>
		</div>
		<div class="p-2">
			<a class="h2" th:href="@{/wishlist/new}">New Wishlist</a>
		</div>
		<div class="p-2">
			<a class="h2" th:href="@{/products/new}">New Products</a>
		</div>
		<div class="p-2">
			<a class="h2" th:href="@{/products}">View Products</a>
		</div>

		    
	</div>
	  
</body>
</html>