<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Wishlist Items</title>
<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
</head>
<body>
	    
	<div class="container text-center" th:with="product = ${listProduct}">
		        
		<div>
			<h1>Items</h1>
		</div>
		<div>
			<table class="table table-bordered">
				<thead class="thead-dark">
					<tr>
						<th>In Wishlist</th>
						<th>Name</th>
						<th>Author</th>
						<th>Genre</th>
						<th>Description</th>
						<th>Price($)</th>
						<th>Year Published</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<th:block th:each="wishlist : ${listWishlist}">
						<tr>
							<td>[[${wishlist.name}]]</td>
							<td>[[${wishlist.product}]]</td>
							<td>[[${wishlist.product}]]</td>
							<td>[[${wishlist.product}]]</td>
							<td>[[${wishlist.product}]]</td>
							<td>[[${wishlist.product}]]</td>
							<td>[[${wishlist.product}]]</td>
							<td><a th:href="@{'/wishlist/edit/'+ ${wishlist.id}}">Add
									to Cart</a> &nbsp; <a
								th:href="@{'/wishlist/delete/'+ ${wishlist.id}}">Delete</a></td>
						</tr>

					</th:block>
				</tbody>
			</table>
		</div>
		    
	</div>
	  
</body>
</html>